.navbar {
  background: linear-gradient(to right, #003366, #0059b3);
  padding: 0px 0px;
  color: rgb(255, 255, 255);
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* space between logo and text */
}

.logo img {
  height: 100px; /* logo height */
  width: auto;
  display: block;
}

.logo span {
  font-size: 40px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 25px;
}

.nav-links li a:hover {
  color: #bd713e;
}

/* Mobile Styles */
.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #ffffff;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  
}
