.services-container {
  padding: 40px;
}

.card-grid {
  display: grid;

  /* Automatically creates cubes side by side */
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 20px;
  margin-top: 20px;
}

ul {
  text-align: left;
  font-size: 18px;
}

.custom-list {
  list-style-type: square;   /* disc | circle | square | none */
  padding-left: 20px;
}
